{% extends 'base.html' %}

{% block head %}
<title>Token Validator</title>
{% endblock %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="content">
    <h1 style="text-align: center">Token Validator</h1>

    <div id="input">
        <input id="token" type="text" name="token">
        <button id="submit-button" type="button">Submit</button>
    </div>

    <div id="result"></div>
</div>

<script>
    const submitButton = $("#submit-button");
    const tokenInput = $("#token");
    const result = $("#result");
    submitButton.click(function(event) {
        event.preventDefault();
        submitButton.disabled = true;
        $.post(
            "/validate",
            {
                token: tokenInput.val()
            },
            function(data, status) {
                submitButton.disabled = false;
                if (data.success === true) {
                    result.html("Success! :)");
                }
                else
                {
                    result.html("Failed! :(");
                }
            }
        );
    });
</script>

{% endblock %}